<Project Name> 

Measurement Plan 

 

Version <1.0> 

 

 

[Note: The following template is provided for use with the Rational Unified Process. Text enclosed in square brackets and displayed in blue italics (style=InfoBlue) is included to provide guidance to the author and should be deleted before publishing the document. A paragraph entered following this style will automatically be set to normal (style=Body Text).] 



Revision History 

Date 
 Version 
 Description 
 Author 
 
<dd/mmm/yy> 
 <x.x> 
 <details> 
 <name> 
 
 
  
  
  
 
 
  
  
  
 
 
  
  
  
 

 



Table of Contents 

1.       Introduction          

1.1     Purpose      

1.2     Scope      

1.3     Definitions, Acronyms and Abbreviations      

1.4     References      

1.5     Overview      

2.       Management Goals and Subgoals        

3.       Metrics  

3.1     Template for a metric:      

4.       Primitive Metrics 

4.1     Template for a Primitive Metric:      

5.       Annexes  


Measurement Plan 

1.                   Introduction 
[The introduction of the Measurement Plan should provide an overview of the entire document. It should include the purpose, scope, definitions, acronyms, abbreviations, references, and overview of this Measurement Plan.] 

1.1                Purpose 
[Specify the purpose of this Measurement Plan.] 

1.2                Scope 
[A brief description of the scope of this Measurement Plan; what Project(s) it is associated with, and anything else that is affected or influenced by this document.] 

1.3                Definitions, Acronyms and Abbreviations 
[This subsection should provide the definitions of all terms, acronyms, and abbreviations required to properly interpret the Measurement Plan.  This information may be provided by reference to the project Glossary.] 

1.4                References 
[This subsection should provide a complete list of all documents referenced elsewhere in the Measurement Plan.  Each document should be identified by title, report number (if applicable), date, and publishing organization.  Specify the sources from which the references can be obtained. This information may be provided by reference to an appendix or to another document.] 

1.5                Overview 
[This subsection should describe what the rest of the Measurement Plan contains and explain how the document is organized.] 

2.                   Management Goals and Subgoals 
[State what the goals of the measurement program are relative to the project in terms of achievement, improvement, and quality.] 

3.                   Metrics 
[Enumerate the metrics that are to be synthesized at regular intervals on the project to support the goals.] 

3.1                Template for a Metric: 
Name 
 [Name of the metric and any known synonyms.] 
 
Definition 
 [The attributes of the entities that are measured using this metric, how the metric is calculated, and from which primitive metrics it is calculated.] 
 
Goals 
 [List of goals and questions related to this metric. Also some explanation as to why the metric is being collected.] 
 
Analysis Procedure 
 [How the metric is intended to be used. 

Preconditions for the interpretation of the metric; for example, valid range of other metrics. 

Target values or trends. 

 Models of analysis techniques and tools to be used. 

Implicit assumptions; for example, of  the environment or models. 

 Calibration procedures. 

Storage.] 
 
Responsibilities 
 [Who will collect and aggregate measurement data, prepare the reports, and analyze the data.] 
 

4.                   Primitive Metrics 
[Enumerate the primitive metrics that are collected, automatically or manually, to compute the metrics.] 

4.1                Template for a Primitive Metric: 
Name 
 [Name of the primitive metric.] 
 
Definition 
 [Unambiguous description of the metric in terms of the project’s environment.] 
 
Collection procedure 
 [Description of the collection procedure. 

Data collection tool and form to be used. 

Points in the lifecycle when data are collected. 

Verification procedure to be used. 

Where will the data be stored, format, precision?] 
 
Responsibilities 
 [Who is responsible for collecting and verifying the data?]. 
 
