<Project Name> 

Quality Assurance Plan 

 

Version <1.0> 

 

 

[Note: The following template is provided for use with the Rational Unified Process. Text enclosed in square brackets and displayed in blue italics (style=InfoBlue) is included to provide guidance to the author and should be deleted before publishing the document. A paragraph entered following this style will automatically be set to normal (style=Body Text).] 



Revision History 

Date 
 Version 
 Description 
 Author 
 
<dd/mmm/yy> 
 <x.x> 
 <details> 
 <name> 
 
 
  
  
  
 
 
  
  
  
 
 
  
  
  
 

 



Table of Contents 

1.          Introduction          

1.1      Purpose      

1.2      Scope      

1.3      Definitions, Acronyms, and Abbreviations      

1.4      References      

1.5      Overview      

2.          Quality Objectives      

3.          Management        

3.1      Organization      

3.2      Tasks and Responsibilities      

4.          Documentation   

5.          Standards and Guidelines      

6.          Metrics  

7.          Review and Audit Plan  

8.          Evaluation and Test          

9.          Problem Resolution and Corrective Action 

10.        Tools, Techniques, and Methodologies 

11.        Configuration Management 

12.        Supplier and Subcontractor Controls          

13.        Quality Records          

14.        Training 

15.          Risk Management 


Quality Assurance Plan 

 

1.                   Introduction 
[The introduction of the Quality Assurance Plan provides an overview of the entire document. It includes the purpose, scope, definitions, acronyms, abbreviations, references, and overview of this Quality Assurance Plan.] 

1.1                Purpose 
[Specify the purpose of this Quality Assurance Plan.] 

1.2                Scope 
[A brief description of the scope of this Quality Assurance Plan; what Project(s) it is associated with and anything else that is affected or influenced by this document.] 

1.3                Definitions, Acronyms and Abbreviations 
[This subsection provides the definitions of all terms, acronyms, and abbreviations required to properly interpret the Quality Assurance Plan.  This information may be provided by reference to the project's Glossary.] 

1.4                References 
[This subsection provides a complete list of all documents referenced elsewhere in the Quality Assurance Plan.  Identify each document by title, report number (if applicable), date, and publishing organization.  Specify the sources from which the references can be obtained. This information may be provided by reference to an appendix or to another document. For the Quality Assurance Plan, this should include: 

•          Documentation Plan 

•          Measurement Plan 

•          Test Plan 

•          Software Development Plan 

•          Problem Resolution Plan 

•          Configuration Management Plan 

•          Subcontractor Management Plan 

•          Risk Management Plan] 

1.5                Overview 
[This subsection describes what the rest of the Quality Assurance Plan contains and explains how the document is organized.] 

2.                   Quality Objectives 
[This section needs to  reference the section of the Software Requirements Specification that deals with quality requirements.] 

3.                   Management 
3.1                Organization 
[Describe the structure of the organization responsible for Quality Assurance. The Rational Unified Process recommends that the Software Engineering Process Authority (SEPA) be responsible for the process component of Quality Assurance.  The Rational Unified Process further recommends that the evaluation of product be done within the project (most notably by an independent test team) and by joint customer/developer review.] 

3.2                Tasks and Responsibilities 
[Describe the various Quality Assurance tasks that will be carried out for this project and indicate how they are synchronized with the project's major and minor milestones. These tasks will include: 

•          Joint Reviews 

•          Process Audits 

•          Process Reviews 

•          Customer Audits 

For each task, identify the team member responsible for its execution.] 

4.                   Documentation 
[Enclose the Documentation Plan artifact by reference. 

Also, list the minimum documentation that must be produced during the project to ensure that the software product that is developed satisfies the requirements.  The suggested minimum set is: 

•          Software Development Plan (SDP) 

•          Test Plan 

•          Iteration Plans 

•          Software Requirements Specification (SRS) 

•          Software Architecture Document 

•          User Documentation (for example, manuals, guides) 

•          Configuration Management Plan 

Provide pointers to the Development Case to show where in the process the adequacy of these documents is evaluated.] 

5.                   Standards and Guidelines 
[This section references any standards and guidelines that are expected to be used on the project, and addresses how compliance with these standards and guidelines is to be determined.  The relevant artifacts are enclosed by reference.  The suggested set for the Rational Unified Process is: 

•          Development Case 

•          Business Modeling Guidelines 

•          User-Interface Guidelines 

•          Use-Case Modeling Guidelines 

•          Design Guidelines 

•          Programming Guidelines 

•          Test Guidelines 

•          Manual Style Guide] 

6.                   Metrics 
[This section describes the product, project, and process metrics that are to be captured and monitored for the project.  This is usually addressed by enclosing the Measurement Plan artifact by reference.] 

7.                   Review and Audit Plan 
[This section contains the Review and Audit Plan. The Review and Audit Plan specifies the schedule, resources, and methods and procedures to be used in conducting project reviews and audits. The plan details the various types of reviews and audits to be carried out during the project, and identifies any external agencies that are expected to approve or regulate the artifacts produced by the project. 

This section should identify: 

•          Review and Audit Tasks 

Describe briefly each type of review and audit that will be carried out on the project. For each type, identify the project artifacts that will be the subject of the review or audit. These may include Joint Customer-Developer Technical and Management Reviews, Process Reviews and Audits, Customer Audits, Internal Technical and Management Reviews. 

•          Schedule  

Detail here the schedule for the reviews and audits. This should include reviews and audits scheduled at project milestones, as well as reviews that are triggered by delivery of project artifacts. This subsection may reference the project or iteration plan. 

•          Organization and Responsibilities  

List here the specific groups or individuals to be involved in each of the identified review and audit activities. Describe briefly the tasks and responsibilities of each. Also, list any external agencies that are expected to approve or regulate any product of the project. 

•          Problem Resolution and Corrective Action 

This subsection describes the procedures for reporting and handling problems identified during project reviews and audits.  The Problem Resolution Plan may be referenced. 

•          Tools, Techniques and Methodologies  

Describe here any specific tools, techniques or methodologies that are to be used to carry out the review and audit activities identified in this plan.  You should describe the explicit process to be followed for each type of review or audit. Your organization may have a standard Review and Audit Procedures Manual, which may be referenced.  These procedure descriptions should also address the collection, storage and archiving of the project’s Review Records. 

A suggested set of reviews and audits (drawn from the Rational Unified Process) to use as a basis for planning is: 

•          Requirements Review (maps to the traditional Software Specification Review) 

•          Architecture Review (maps to the traditional Preliminary Design Review) 

•          Design Review (maps to the traditional Critical Design Review) 

      

Note that the product-, technique-, criteria-, and metrics- related aspects of these reviews is addressed in the Rational Unified Process itself and instantiated in the Evaluation Plan section of the Software Development Plan. The Review and Audit Plan section of the Quality Assurance Plan will concern itself with the Joint (customer, developer) Review aspects, for example, artifacts required, responsibilities, conduct of the review meeting, pass or fail criteria. 

•       Functional Configuration audit (to verify all requirements in the SRS have been met) 

•      Physical configuration audit (to verify that the software and its documentation are complete and ready for delivery) 

•          Process audits 

•          Process reviews 

•      Managerial reviews (Project Approval Review, Project Planning Review, Iteration Plan Review, PRA Project Review) 

•      Post-mortem reviews (Iteration Acceptance Review, Lifecycle Milestone Review, Project Acceptance Review).] 

8.                   Evaluation and Test 
[This section references the Software Development Plan (Evaluation Plan section) and the Test Plan.] 

9.                   Problem Resolution and Corrective Action 
[This section references the Problem Resolution Plan.] 

10.             Tools, Techniques, and Methodologies 
[A list of any tools, techniques and methodologies that are to be used when performing Quality Assurance activities.] 

11.             Configuration Management 
[This section references the Configuration Management Plan.] 

12.             Supplier and Subcontractor Controls 
[This section references the Subcontractor Management Plan.] 

13.             Quality Records 
[Descriptions of the various quality records that will be maintained during the project, including how and where each type of record will be stored and for how long.] 

14.             Training 
[List here any training activities necessary for the project team to achieve the needs of the Quality Assurance Plan.] 

15.             Risk Management 
[This section references the Risk Management Plan.] 

