<Project Name> 

Software Development Plan 

 

Version <1.0> 

 

 

[Note: The following template is provided for use with the Rational Unified Process.  Text enclosed in square brackets and displayed in blue italics (style=InfoBlue) is included to provide guidance to the author and should be deleted before publishing the document. A paragraph entered following this style will automatically be set to normal (style=Body Text).] 



Revision History 

Date 
 Version 
 Description 
 Author 
 
<dd/mmm/yy> 
 <x.x> 
 <details> 
 <name> 
 
 
  
  
  
 
 
  
  
  
 
 
  
  
  
 

 



Table of Contents 

1.          Introduction          

1.1      Purpose      

1.2      Scope      

1.3      Definitions, Acronyms and Abbreviations      

1.4      References      

1.5      Overview      

2.          Project Overview       

2.1      Project Purpose, Scope and Objectives      

2.2      Assumptions and Constraints      

2.3      Project Deliverables      

2.4      Evolution of the Software Development Plan      

3.          Project Organization   

3.1      Organizational Structure      

3.2      External Interfaces      

3.3      Roles and Responsibilities      

4.          Management Process 

4.1      Project Estimates      

4.2      Project Plan      

4.2.1       Phase Plan       

4.2.2       Iteration Objectives 

4.2.3       Releases       

4.2.4       Project Schedule  

4.2.5       Project Resourcing       

              4.2.5.1       Staffing Plan       

              4.2.5.2       Resource Acquisition Plan       

              4.2.5.3       Training Plan       

4.2.6       Budget       

4.3      Iteration Plans      

4.4      Project Monitoring and Control      

4.4.1       Requirements Management Plan       

4.4.2       Schedule Control Plan       

4.4.3       Budget Control Plan       

4.4.4       Quality Control Plan       

4.4.5       Reporting Plan       

4.4.6       Measurement Plan       

4.5      Risk Management plan      

4.6      Close-out Plan      

5.          Technical process plans  

5.1      Development Case      

5.2      Methods, Tools and Techniques      

5.3      Infrastructure Plan      

5.4      Product Acceptance Plan      

6.          Supporting Process Plans  

6.1      Configuration Management Plan      

6.2      Evaluation Plan      

6.3      Documentation Plan      

6.4      Quality Assurance Plan      

6.5      Problem Resolution Plan      

6.6      Subcontractor Management Plan      

6.7      Process Improvement Plan      

7.          Additional Plans  

8.          Annexes  

9.          Index      


Software Development Plan 

 
1.                   Introduction 
[The introduction of the Software Development Plan should provide an overview of the entire document. It should include the purpose, scope, definitions, acronyms, abbreviations, references, and overview of this Software Development Plan.] 

1.1                Purpose 
[Specify the purpose of this Software Development Plan.] 

1.2                Scope 
[A brief description of the scope of this Software Development Plan; what Project(s) it is associated with, and anything else that is affected or influenced by this document.] 

1.3                Definitions, Acronyms and Abbreviations 
[This subsection should provide the definitions of all terms, acronyms, and abbreviations required to properly interpret the Software Development Plan.  This information may be provided by reference to the project Glossary.] 

1.4                References 
[This subsection should provide a complete list of all documents referenced elsewhere in the Software Development Plan.  Each document should be identified by title, report number (if applicable), date, and publishing organization.  Specify the sources from which the references can be obtained. This information may be provided by reference to an appendix or to another document.  

For the Software Development Plan, the list of referenced artifacts should include: 

·         Iteration Plans 

·         Requirements Management Plan 

·         Measurement Plan 

·         Risk Management Plan 

·         Development Case 

·         Business Modeling Guidelines 

·         User Interface Guidelines 

·         Use-Case-Modeling Guidelines 

·         Design Guidelines 

·         Programming Guidelines 

·         Test Guidelines 

·         Manual Style Guide 

·         Infrastructure Plan 

·         Product Acceptance Plan 

·         Configuration Management Plan 

·         Evaluation Plan (only if this is a separate plan - normally this is part of the SDP at Section 6.2) 

·         Documentation Plan 

·         Quality Assurance Plan 

·         Problem Resolution Plan 

·         Subcontractor Management Plan 

·         Process Improvement Plan] 

1.5                Overview 
[This subsection should describe what the rest of the Software Development Plan contains and explain how the document is organized.] 

2.                   Project Overview 
2.1                Project Purpose, Scope, and Objectives 
[A brief description of the purpose and objectives of this project and a brief description of what deliverables the project is expected to deliver.] 

2.2                Assumptions and Constraints 
[A list of assumptions that this plan is based and any constraints, for example. budget, staff, equipment, schedule, that apply to the project.] 

2.3                Project Deliverables 
[A tabular list of the artifacts to be created during the project, including target delivery dates.] 

2.4                Evolution of the Software Development Plan 
[A table of proposed versions of the Software Development Plan, and the criteria for the unscheduled revision and reissue of this plan.] 

3.                   Project Organization 
3.1                Organizational Structure 
[Describe the organizational structure of the project team, including management and other review authorities.] 

3.2                External Interfaces 
[Describe how the project interfaces with external groups.  For each external group, identify the internal and external contact names.] 

3.3                Roles and Responsibilities 
[Identify the project organizational units that will be responsible for each of the disciplines, workflow details, and supporting processes.] 

4.                   Management Process 
4.1                Project Estimates 
[Provide the estimated cost and schedule for the project, as well as the basis for those estimates, and the points and circumstances in the project when re-estimation will occur.] 

4.2                Project Plan 
4.2.1          Phase Plan 
[Include the following: 

·         Work Breakdown Structure (WBS) 

·         a timeline or Gantt chart showing the allocation of time to the project phases or iterations 

·         identify major milestones with their achievement criteria 

Define any important release points and demos] 

4.2.2          Iteration Objectives 
[List the objectives to be accomplished for each of the iterations.] 

4.2.3          Releases 
[A brief description of each software release and whether it’s demo, beta, etc.] 

4.2.4          Project Schedule 
[Diagrams or tables showing target dates for completion of iterations and phases, release points, demos, and other milestones.] 

4.2.5          Project Resourcing 
4.2.5.1     Staffing Plan 
[Identify here the numbers and type of staff required, including any special skills or experience, scheduled by project phase or iteration.] 

4.2.5.2     Resource Acquisition Plan 
[Describe how you will approach finding and acquiring the staff needed for the project.] 

4.2.5.3     Training Plan 
[List any special training project team members will require, with target dates for when this training should be completed.] 

4.2.6          Budget 
[Allocation of costs against the WBS and the Phase Plan.] 

4.3                Iteration Plans 
[Each iteration plan will be enclosed in this section by reference.] 

4.4                Project Monitoring and control 
4.4.1          Requirements Management Plan 
[Enclosed by reference.] 

4.4.2          Schedule Control Plan 
[Describes the approach to be taken to monitor progress against the planned schedule and how to take corrective action when required.] 

4.4.3          Budget Control Plan 
[Describes the approach to be taken to monitor spending against the project budget and how to take corrective action when required.] 

4.4.4          Quality Control Plan 
[Describe the timing and methods to be used to control the quality of the project deliverables and how to take corrective action when required.] 

4.4.5          Reporting Plan 
[Describes internal and external reports to be generated, and the frequency and distribution of publication.] 

4.4.6          Measurement Plan 
[Enclosed by reference.] 

4.5                Risk Management plan 
[Enclosed by reference.] 

4.6                Close-out Plan 
[Describe the activities for the orderly completion of the project, including staff reassignment, archiving of project materials, post-mortem debriefings and reports etc.] 

5.                   Technical Process Plans 
5.1                Development Case 
[Enclosed by reference.] 

5.2                Methods, tools and techniques 
[Lists the documented project technical standards, etc., by reference: 

·         Business Modeling Guidelines 

·         User Interface Guidelines 

·         Use-Case-Modeling Guidelines 

·         Design Guidelines 

·         Programming Guidelines 

·         Test Guidelines 

·         Manual Style guide] 

5.3                Infrastructure Plan 
[Enclosed by reference] 

5.4                Product Acceptance Plan 
[Enclosed by reference] 

6.                   Supporting Process Plans 
6.1                Configuration Management Plan 
[Enclosed by reference] 

6.2                Evaluation Plan 
[Part of the Software Development Plan, this describes the project’s plans for product evaluation, and covers the techniques, criteria, metrics, and procedures used for evaluation— this will include walkthroughs, inspections, and reviews. Note that this is in addition to the Test Plan which is not enclosed in the Software Development Plan.] 

6.3                Documentation Plan 
[Enclosed by reference.] 

6.4                Quality Assurance Plan 
[Enclosed by reference.] 

6.5                Problem Resolution Plan 
[Enclosed by reference.] 

6.6                Subcontractor Management Plan 
[Enclosed by reference.] 

6.7                Process Improvement Plan 
[Enclosed by reference] 

7.                   Additional plans 
[Additional plans if required by contract or regulations.] 

8.                   Annexes 
[Additional material of use to the reader of the SDP.] 

9.                   Index 