<Project Name> 

Development-Organization Assessment 

 

Version <1.0> 

 

 

[Note: The following template is provided for use with the Rational Unified Process. Text enclosed in square brackets and displayed in blue italics (style=InfoBlue) is included to provide guidance to the author and should be deleted before publishing the document. A paragraph entered following this style will automatically be set to normal (style=Body Text).] 

 

 

Revision History 

Date 
 Version 
 Description 
 Author 
 
<dd/mmm/yy> 
 <x.x> 
 <details> 
 <name> 
 
 
  
  
  
 
 
  
  
  
 
 
  
  
  
 

 



Table of Contents 

1.       Introduction          

1.1     Purpose      

1.2     Scope      

1.3     Definitions, Acronyms and Abbreviations      

1.4     References      

1.5     Overview      

2.       Business Context 

3.       External Factors 

3.1     Customers      

3.2     Competitors      

3.3     Other Stakeholders      

4.       Internal Factors 

4.1     Development Process      

4.2     Supporting Tools      

4.3     Internal Organization      

4.4     Competencies, Skills and Attitudes      

4.5     Capacity for Change      

5.       Product Characteristics 

5.1     Size of Software-Development Effort      

5.2     Degree of Novelty      

5.3     Type of Application      

5.4     Technical Complexity      

6.       Assessment Conclusion     


Development-Organization Assessment 

1.                   Introduction 
[The introduction of the Development-Organization Assessment should provide an overview of the entire document. It should include the purpose, scope, definitions, acronyms, abbreviations, references, and overview of this Development-Organization Assessment.] 

1.1                Purpose 
[Specify the purpose of this Development-Organization Assessment.] 

1.2                Scope 
[A brief description of the scope of this Development-Organization Assessment; what Project(s) it is associated with, and anything else that is affected or influenced by this document.] 

1.3                Definitions, Acronyms and Abbreviations 
[This subsection should provide the definitions of all terms, acronyms, and abbreviations required to properly interpret the Development-Organization Assessment.  This information may be provided by reference to the project Glossary.] 

1.4                References 
[This subsection should provide a complete list of all documents referenced elsewhere in the Development-Organization Assessment.  Each document should be identified by title, report number (if applicable), date, and publishing organization.  Specify the sources from which the references can be obtained. This information may be provided by reference to an appendix or to another document.] 

1.5                Overview 
[This subsection should describe what the rest of the Development-Organization Assessment contains and explain how the document is organized.] 

2.                   Business Context 
[A brief description of the business domain in which the organization work.] 

3.                   External Factors 
3.1                Customers 
[A listing of the customers and what they expect of the products.] 

3.2                Competitors 
[A listing of the competitors.] 

3.3                Other Stakeholders 
[A listing of other stakeholders, such as suppliers and partners.] 

4.                   Internal Factors 
4.1                Development Process 
[A brief description of the current development process. A list of problems.] 

4.2                Supporting Tools 
[A brief description of today's tool support.] 

4.3                Internal Organization 
[A brief description of the internal organization, what roles and teams they have today.] 

4.4                Competencies, Skills and Attitudes 
[An inventory of the competencies, skills and attitudes of the individuals in the organization.] 

4.5                Capacity for Change 
[A brief description of the "capacity for change".] 

5.                   Product Characteristics 
5.1                Size of Software-Development Effort 
[A brief description of the size of the software.] 

5.2                Degree of Novelty 
[A description of where product is on a scale between "green-field development" and maintenance.] 

5.3                Type of Application 
[A brief description of the type of application, and what that can mean for the development process.] 

5.4                Technical Complexity 
[A description of the technical complexity of the product.] 

6.                    Assessment Conclusion 
[List the major problem areas and opportunity areas, regardless of the categories to which they belong.] 
