<Project Name> 

Vision (Small Project) 

 

Version <1.0> 

 

 

[Note: The following template is provided for use with the Rational Unified Process. Text enclosed in square brackets and displayed in blue italics (style=InfoBlue) is included to provide guidance to the author and should be deleted before publishing the document. A paragraph entered following this style will automatically be set to normal (style=Body Text).] 

 



Revision History 

Date 
 Version 
 Description 
 Author 
 
<dd/mmm/yy> 
 <x.x> 
 <details> 
 <name> 
 
 
  
  
  
 
 
  
  
  
 
 
  
  
  
 

 



Table of Contents 

1.       Introduction           

1.1     References             

2.       Positioning           

2.1     Problem Statement       

2.2           Product Position Statement      

3.       Stakeholder and User Descriptions   

3.1     Stakeholder Summary      

3.2          User Summary      

3.3     User Environment      

3.4     Summary of Key Stakeholder or User Needs      

3.5     Alternatives and Competition           

4.       Product Overview       

4.1     Product Perspective      

4.2         Assumptions and Dependencies     

5.       Product Features     

6.       Other Product Requirements               

    


Vision 

1.                   Introduction 
[The purpose of this document is to collect, analyze, and define high-level needs and features of the <<System Name>>. It focuses on the capabilities needed by the stakeholders, and the target users, and why these needs exist. The details of how the <<System Name>> fulfils these needs are detailed in the use-case and supplementary specifications.] 

 [The introduction of the Vision document provides an overview of the entire document. It includes the purpos,and references of this Vision document.] 

1.1                                References 
[This subsection provides a complete list of all documents referenced elsewhere in the Vision document. Identify each document by title, report number if applicable, date, and publishing organization. Specify the sources from which the references can be obtained. This information may be provided by reference to an appendix or to another document.] 

2.                   Positioning 
2.1Problem Statement 
[Provide a statement summarizing the problem being solved by this project. The following format may be used:] 

The problem of 
 [describe the problem] 
 
affects 
 [the stakeholders affected by the problem] 
 
the impact of which is 
 [what is the impact of the problem?] 
 
a successful solution would be 
 [list some key benefits of a successful solution] 
 

2.2                Product Position Statement 
[Provide an overall statement summarizing, at the highest level, the unique position the product intends to fill in the marketplace. The following format may be used:] 

For 
 [target customer] 
 
Who 
 [statement of the need or opportunity] 
 
The (product name) 
  is a [product category] 
 
That 
 [statement of key benefit; that is, the compelling reason to buy] 
 
Unlike 
 [primary competitive alternative] 
 
Our product 
 [statement of primary differentiation] 
 

[A product position statement communicates the intent of the application and the importance of the project to all concerned personnel.] 

3.                   Stakeholder and User Descriptions 
[To effectively provide products and services that meet your stakeholders’ and users' real needs it is necessary to identify and involve all of the stakeholders as part of the Requirements Modeling process. You must also identify the users of the system and ensure that the stakeholder community adequately represents them. This section provides a profile of the stakeholders and users involved in the project, and the key problems that they perceive to be addressed by the proposed solution. It does not describe their specific requests or requirements as these are captured in a separate stakeholder requests artifact. Instead, it provides the background and justification for why the requirements are needed.] 

3.1Stakeholder Summary 
[There are a number of stakeholders with an interest in the development and not all of them are end users. Present a summary list of these non-user stakeholders. (The users are summarized in section 3.2.)] 

Name 
 Description 
 Responsibilities 
 
[Name the stakeholder type.] 
 [Briefly describe the stakeholder.] 
 [Summarize the stakeholder's key responsibilities with regard to the system being developed; that is, their interest as a stakeholder. For example, this stakeholder: 

- ensures that the system will be maintainable 

- ensures that there will be a market demand for the product's features 

- monitors the project's progress  

- approves funding 

- and so forth] 
 

3.2 User Summary 
[Present a summary list of all identified users.] 

Name 
 Description 
 Responsibilities  Stakeholder 
 
[Name the user type.] 
 [Briefly describe what they represent with respect to the system.] 
 [List the user's key responsibilities with regard to the system being developed; for example: 

- captures details 

- produces reports 

- coordinates work 

- and so on] 
 [If the user is not directly represented, identify which stakeholder is responsible for representing the user's interests.] 
 

 

3.3                User Environment 
[Detail the working environment of the target user. Here are some suggestions: 

Number of people involved in completing the task? Is this changing? 

How long is a task cycle? Amount of time spent in each activity? Is this changing? 

Any unique environmental constraints: mobile, outdoors, in-flight, and so on.? 

Which system platforms are in use today? Future platforms? 

What other applications are in use? Does your application need to integrate with them? 

This is where extracts from the Business Model could be included to outline the task and business workers involved, and so on.] 

3.4                Key Stakeholder or User Needs 
[List the key problems with existing solutions as perceived by the stakeholder or user. Clarify the following issues for each problem: 

•          What are the reasons for this problem? 

•          How is it solved now? 

•          What solutions does the stakeholder or user want?] 

[It is important to understand the relative importance the stakeholder or user places on solving each problem. Ranking and cumulative voting techniques indicate problems that must be solved versus issues they would like addressed. 

Fill in the following table—if using Rational RequisitePro to capture the Needs, this could be an extract or report from that tool.] 

Need 
 Priority 
 Concerns 
 Current Solution 
 Proposed Solutions 
 
Broadcast messages 
  
  
  
  
 
      

 

3.5                Alternatives and Competition 
[Identify alternatives the stakeholder perceives as available. These can include buying a competitor’s product, building a homegrown solution, or simply maintaining the status quo. List any known competitive choices that exist or may become available. Include the major strengths and weaknesses of each competitor as perceived by the stakeholder or end user.] 

4.                   Product Overview 
[This section provides a high level view of the product capabilities, interfaces to other applications, and systems configurations. This section usually consists of two subsections, as follows: 

•          Product perspective 

•          Assumptions and dependencies] 

4.1                Product Perspective 
[This subsection of the Vision document puts the product in perspective to other related products and the user’s environment. If the product is independent and totally self-contained, state it here. If the product is a component of a larger system, then this subsection relates how these systems interact and needs to identify the relevant interfaces between the systems. One easy way to display the major components of the larger system, interconnections, and external interfaces is with a block diagram.] 

4.2                Assumptions and Dependencies 
[List each factor that affects the features stated in the Vision document. List assumptions that, if changed, will alter the Vision document. For example, an assumption may state that a specific operating system will be available for the hardware designated for the software product. If the operating system is not available, the Vision document will need to change.] 

5.                   Product Features 
[List and briefly describe the product features. Features are the high-level capabilities of the system that are necessary to deliver benefits to the users. Each feature is an externally desired service that typically requires a series of inputs to achieve the desired result. For example, a feature of a problem tracking system might be the ability to provide trending reports. As the use-case model takes shape, update the description to refer to the use cases. 

Because the Vision document is reviewed by a wide variety of involved personnel, the level of detail needs to be general enough for everyone to understand. However, enough detail must be available to provide the team with the information they need to create a use-case model. 

To effectively manage application complexity, we recommend for any new system, or an increment to an existing system, capabilities are abstracted to a high enough level so 25-99 features result. These features provide the fundamental basis for product definition, scope management, and project management. Each feature will be expanded in greater detail in the use-case model. 

Throughout this section, each feature will be externally perceivable by users, operators, or other external systems. These features should include a description of functionality and any relevant usability issues that must be addressed. The following guidelines apply: 

•          Avoid design. Keep feature descriptions at a general level. Focus on capabilities needed and why (not how)  they should be implemented. 

•          If you are using the Rational RequisitePro toolkit, all need to be selected as requirements of type for easy reference and tracking. 

Define the priority of the different system features. Include, if useful, attributes such as stability, benefit, effort, and risk.] 

6.                   Other Product Requirements 
[At a high-level, list applicable standards, hardware, or platform requirements; performance requirements; and environmental requirements. 

Define the quality ranges for performance, robustness, fault tolerance, usability, and similar characteristics that are not captured in the Feature Set. 

Note any design constraints, external constraints, or other dependencies. 

Define any specific documentation requirements, including user manuals, online help, installation, labeling, and packaging requirements. 

Define the priority of these other product requirements. Include, if useful, attributes such as stability, benefit, effort, and risk.] 
