<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xml:lang="es" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: HTML_Risk_Management_Plan</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="html_risk_management_plan">
<meta name="uma.presentationName" content="HTML_Risk_Management_Plan">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_GNdYEA13Ee-qFuDYwMdo-Q"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: HTML_Risk_Management_Plan</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top"></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../ProjectManagement/workproducts/risk_management_plan_EF36C2DA.html" guid="_BnovwAtDEe-H_o2T0nMv-g">Risk_Management_Plan</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><div class="Section1" style='FONT-SIZE: medium; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        &lt;Project Name&gt;
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        Risk Management Plan
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        <span style="FONT-SIZE: 14pt">Version &lt;1.0&gt;</span>
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
    </p>
    <p class="MsoNormal" style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 0pt; LINE-HEIGHT: 12pt'>
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Note: The following template is provided for use with the Rational Unified Process. Text enclosed in square
        brackets and displayed in blue italics (style=InfoBlue) is included to provide guidance to the author and should be
        deleted before publishing the document. A paragraph entered following this style will automatically be set to
        normal (style=Body Text).]
    </p>
</div>
<span style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
<br style="break-before: page" clear="all" />
</span> 
<div class="Section2" style='FONT-SIZE: medium; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        Revision History
    </p>
    <table     style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none"      cellspacing="0" cellpadding="0" border="1">
        <tbody>
            <tr>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Date</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Version</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Description</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Author</b>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;dd/mmm/yy&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;x.x&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;details&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;name&gt;
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="MsoNormal" style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 0pt; LINE-HEIGHT: 12pt'>
    </p>
    <b><span style="FONT-SIZE: 18pt; FONT-FAMILY: Arial"><br style="break-before: page" clear="all" />
    </span></b> 
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        Table of Contents
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.                  Introduction"><font face="Times New Roman">1.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Introduction</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.1               Purpose"><font face="Times New Roman">1.1<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Purpose</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.2               Scope"><font face="Times New Roman">1.2<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Scope</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.3               Definitions, Acronyms and Abbreviations"><font         face="Times New Roman">1.3<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Definitions, Acronyms and
        Abbreviations</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.4               References"><font face="Times New Roman">1.4<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>References</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.5               Overview"><font face="Times New Roman">1.5<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Overview</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#2.                  Risk Summary"><font face="Times New Roman">2.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Risk
        Summary</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#3.                  Risk Management Tasks"><font         face="Times New Roman">3.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Risk Management
        Tasks</font></a>
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.                  Organization and Responsibilities"><font         face="Times New Roman">4.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Organization and
        Responsibilities</font></a>
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#5.                  Budget"><font face="Times New Roman">5.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Budget</font></a>&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#6.                  Tools and Techniques"><font         face="Times New Roman">6.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Tools and
        Techniques</font></a>&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#7.                  Risk Items to be Managed"><font         face="Times New Roman">7.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Risk Items to be
        Managed</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        <br style="break-before: page" clear="all" />
        Risk Management Plan
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt; LINE-HEIGHT: 12pt; TEXT-INDENT: 0in; break-after: avoid">
        <a id="&nbsp;" name="&nbsp;"></a>
    </h1>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1. Introduction" name="1. Introduction">1.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Introduction</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [The introduction of the<span>&nbsp;</span><b>Risk Management Plan</b><span>&nbsp;</span>should provide an overview
        of the entire document. It should include the purpose, scope, definitions, acronyms, abbreviations, references, and
        overview of this<span>&nbsp;</span><b>Risk Management Plan</b>.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.1 Purpose" name="1.1 Purpose">1.1<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Purpose</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Specify the purpose of this<span>&nbsp;</span><b>Risk Management Plan.</b>]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.2 Scope" name="1.2 Scope">1.2<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Scope</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A brief description of the scope of this<span>&nbsp;</span><b>Risk Management Plan</b>; what Project(s) it is
        associated with and anything else that is affected or influenced by this document.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.3 Definitions, Acronyms and Abbreviations" name="1.3 Definitions, Acronyms and Abbreviations">1.3<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Definitions, Acronyms and Abbreviations</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection should provide the definitions of all terms, acronyms, and abbreviations required to properly
        interpret the<span>&nbsp;</span><b>Risk Management Plan</b>.&nbsp; This information may be provided by reference to
        the project Glossary.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.4 References" name="1.4 References">1.4<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>References</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection should provide a complete list of all documents referenced elsewhere in
        the<span>&nbsp;</span><b>Risk Management Plan</b>.&nbsp; Each document should be identified by title, report number
        (if applicable), date, and publishing organization.&nbsp; Specify the sources from which the references can be
        obtained. This information may be provided by reference to an appendix or to another document.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.5 Overview" name="1.5 Overview">1.5<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Overview</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection should describe what the rest of the<span>&nbsp;</span><b>Risk Management
        Plan</b><span>&nbsp;</span>contains and explain how the document is organized.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="2. Risk Summary" name="2. Risk Summary">2.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Risk Summary</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A brief overview of the project, and summary of the overall amount of risk involved in the project.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="3. Risk Management Tasks" name="3. Risk Management Tasks">3.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Risk Management Tasks</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A brief description of the risk management tasks to be performed during the project. In this section you should
        describe the following:
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 1in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.25in'>
        <span style="FONT-FAMILY: Symbol; FONT-STYLE: normal">·<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span></span>The
        approach to be used to identify risks and how the risks list will be analyzed and prioritized.
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 1in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.25in'>
        <span style="FONT-FAMILY: Symbol; FONT-STYLE: normal">·<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span></span>The
        risk management strategies that will be used, including mitigation, avoidance, and/or prevention strategies for the
        most significant ("top-10") risks.
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 1in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.25in'>
        <span style="FONT-FAMILY: Symbol; FONT-STYLE: normal">·<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span></span>How
        the status of each significant risk and its mitigation activities is to be monitored.
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 1in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.25in'>
        <span style="FONT-FAMILY: Symbol; FONT-STYLE: normal">·<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span></span>Risk
        review and reporting schedules.&nbsp; A risk review should be part of each iteration/phase acceptance review.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4. Organization and Responsibilities" name="4. Organization and Responsibilities">4.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Organization and Responsibilities</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A list of the specific groups or individuals to be involved in the project’s risk management activities and a
        description of the tasks and responsibilities of each.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="5. Budget" name="5. Budget">5.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Budget</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [The budget available for managing project risks (when this information is not already included in the overall
        project budget).]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="6. Tools and Techniques" name="6. Tools and Techniques">6.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Tools and Techniques</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A list of the tools and/or techniques that will be used to store risk information, evaluate risks, track the
        status of risks, or generate risk management reports.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="7. Risk Items to be Managed" name="7. Risk Items to be Managed">7.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Risk Items to be Managed</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A list of the risk items that have been identified.&nbsp; This can be a link to the Artifact: Risk List for the
        project.
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        An industry best practice is to publish and keep visible a "Top-10" list of risks that are considered significant
        enough for the project to spend resources on their management.&nbsp; You may maintain a longer list if
        organizational practice or the contract requires it.
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        Indicators that the risk is being realized, and mitigation, avoidance or preventative strategies are identified for
        each risk listed.&nbsp; Some risks will also require a description of the action that is contingent upon the risk
        being realized.]
    </p>
</div></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../ProjectManagement/guidances/templates/resources/HTML_risk_management_plan.html" target="_blank">HTML_risk_management_plan.html</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
