<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xml:lang="es" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: HTML_Business Case</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="html_business_case">
<meta name="uma.presentationName" content="HTML_Business Case">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_OBhcsAw3Ee-eq6FscxOTMA"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: HTML_Business Case</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top"></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../ProjectManagement/workproducts/business_case_5B23D182.html" guid="_MHsdsAYrEe-QffN1Taqq5Q">Business Case</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><div class="Section1" style='FONT-SIZE: medium; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        &lt;Project Name&gt;
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        Business Case
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        <span style="FONT-SIZE: 14pt">Version &lt;1.0&gt;</span>
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
    </p>
    <p class="MsoNormal" style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 0pt; LINE-HEIGHT: 12pt'>
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Note: The following template is provided for use with the Rational Unified Process. Text enclosed in square
        brackets and displayed in blue italics (style=InfoBlue) is included to provide guidance to the author and should be
        deleted before publishing the document. A paragraph entered following this style will automatically be set to
        normal (style=Body Text).]
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
    </p>
</div>
<div class="Section2" style='FONT-SIZE: medium; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        Revision History
    </p>
    <table     style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none"      cellspacing="0" cellpadding="0" border="1">
        <tbody>
            <tr>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Date</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Version</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Description</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Author</b>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;dd/mmm/yy&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;x.x&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;details&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;name&gt;
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="MsoNormal" style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 0pt; LINE-HEIGHT: 12pt'>
    </p>
    <b><span style="FONT-SIZE: 18pt; FONT-FAMILY: Arial"><br style="break-before: page" clear="all" />
    </span></b> 
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        Table of Contents
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.                  Introduction"><font face="Times New Roman">1.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Introduction</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.1               Purpose"><font face="Times New Roman">1.1<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Purpose</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.2               Scope"><font face="Times New Roman">1.2<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Scope</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.3               Definitions, Acronyms and Abbreviations"><font         face="Times New Roman">1.3<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Definitions, Acronyms and
        Abbreviations</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.4               References"><font face="Times New Roman">1.4<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>References</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.5               Overview"><font face="Times New Roman">1.5<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Overview</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#2.                  Product Description"><font         face="Times New Roman">2.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Product
        Description</font></a>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#3.                  Business Context"><font         face="Times New Roman">3.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Business Context</font></a>
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.                  Product Objectives"><font         face="Times New Roman">4.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Product
        Objectives</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#5.                  Financial Forecast"><font         face="Times New Roman">5.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Financial
        Forecast</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#6.                  Constraints"><font face="Times New Roman">6.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Constraints</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        <br style="break-before: page" clear="all" />
        Business Case
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1. Introduction" name="1. Introduction">1.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Introduction</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [The introduction of the<span>&nbsp;</span><b>Business Case</b><span>&nbsp;</span>should provide an overview of the
        entire document. It should include the purpose, scope, definitions, acronyms, abbreviations, references, and
        overview of this<span>&nbsp;</span><b>Business Case</b>.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.1 Purpose" name="1.1 Purpose">1.1<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Purpose</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Specify the purpose of this<span>&nbsp;</span><b>Business Case.</b>]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.2 Scope" name="1.2 Scope">1.2<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Scope</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A brief description of the scope of this<span>&nbsp;</span><b>Business Case</b>; what Project(s) it is associated
        with, and anything else that is affected or influenced by this document.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.3 Definitions, Acronyms and Abbreviations" name="1.3 Definitions, Acronyms and Abbreviations">1.3<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Definitions, Acronyms and Abbreviations</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection should provide the definitions of all terms, acronyms, and abbreviations required to properly
        interpret the<span>&nbsp;</span><b>Business Case</b>.&nbsp; This information may be provided by reference to the
        project Glossary.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.4 References" name="1.4 References">1.4<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>References</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection should provide a complete list of all documents referenced elsewhere in
        the<span>&nbsp;</span><b>Business Case</b>.&nbsp; Each document should be identified by title, report number (if
        applicable), date, and publishing organization.&nbsp; Specify the sources from which the references can be
        obtained. This information may be provided by reference to an appendix or to another document.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.5 Overview" name="1.5 Overview">1.5<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Overview</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection should describe what the rest of the<span>&nbsp;</span><b>Business
        Case</b><span>&nbsp;</span>contains and explain how the document is organized.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="2. Product Description" name="2. Product Description">2.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Product Description</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [To give a context to the reader, briefly describe the product that is to be developed. Include the name of the
        system and possibly an acronym, if one is used. Explain what problem it solves and why the development will be
        worth the effort. Refer to the<span>&nbsp;</span><b>Vision<span>&nbsp;</span></b>document.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="3. Business Context" name="3. Business Context"><i>3.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span></i>Business Context</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Define the business context for the product. In which domain is it going to function (for example, telecom or
        bank) and what market—who are the users? State whether the product is being developed to fulfill a contract or if
        it is a commercial product. If it is a continuation of an existing project, this should also be mentioned.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4. Product Objectives" name="4. Product Objectives">4.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Product Objectives</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [State the objectives for developing the product— the reasons why this is worthwhile. This includes a tentative
        schedule, and some assessment of schedule risks. Clearly defined and expressed objectives provide good grounds for
        formulating milestones and managing risks; that is, keeping the project on track and ensuring its success.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="5. Financial Forecast" name="5. Financial Forecast">5.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Financial Forecast</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [For a commercial software product, the Business Case should include a set of assumptions about the project and the
        order of magnitude return on investment (ROI) if those assumptions are true. For example, the ROI will be a
        magnitude of five if completed in one year, two if completed in two years, and a negative number after that. These
        assumptions are checked again at the end of the elaboration phase when the scope and plan are known with more
        accuracy. The return is based on the cost estimate and the potential revenue estimates.
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        The resource estimate encompasses the entire project, through to delivery. This estimate is updated at each phase
        and each iteration, and becomes more accurate as each iteration is completed.
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        An explanation of the basis of estimates should be included.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="6. Constraints" name="6. Constraints">6.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Constraints</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Express the constraints under which the project is undertaken. These constraints impact risk and cost. They could
        be things like external interfaces that the system must adhere to, standards, certifications or a technical
        approach employed for strategic reasons, such as using a certain database technology or distribution mechanisms.]
    </p>
</div></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../ProjectManagement/guidances/templates/resources/HTMLbusinesscase.html" target="_blank">HTMLbusinesscase.html</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
