<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xml:lang="es" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: HTML_Product_Acceptance_Plan</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="html_product_acceptance_plan">
<meta name="uma.presentationName" content="HTML_Product_Acceptance_Plan">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_Hp8HsA14Ee-qFuDYwMdo-Q"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: HTML_Product_Acceptance_Plan</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top"></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../ProjectManagement/workproducts/product_acceptance_plan_715D9C9A.html" guid="_vm4DkAtDEe-H_o2T0nMv-g">Product_Acceptance_Plan</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><div class="Section1" style='FONT-SIZE: medium; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        &lt;Project Name&gt;
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        Product Acceptance Plan
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        <span style="FONT-SIZE: 14pt">Version &lt;1.0&gt;</span>
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
    </p>
    <p class="MsoNormal" style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 0pt; LINE-HEIGHT: 12pt'>
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Note: The following template is provided for use with the Rational Unified Process. Text enclosed in square
        brackets and displayed in blue italics (style=InfoBlue) is included to provide guidance to the author and should be
        deleted before publishing the document. A paragraph entered following this style will automatically be set to
        normal (style=Body Text).]
    </p>
</div>
<span style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
<br style="break-before: page" clear="all" />
</span> 
<div class="Section2" style='FONT-SIZE: medium; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        Revision History
    </p>
    <table     style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none"      cellspacing="0" cellpadding="0" border="1">
        <tbody>
            <tr>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Date</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Version</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Description</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Author</b>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;dd/mmm/yy&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;x.x&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;details&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;name&gt;
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="MsoNormal" style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 0pt; LINE-HEIGHT: 12pt'>
    </p>
    <b><span style="FONT-SIZE: 18pt; FONT-FAMILY: Arial"><br style="break-before: page" clear="all" />
    </span></b> 
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        Table of Contents
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.                  Introduction"><font face="Times New Roman">1.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Introduction</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.1               Purpose"><font face="Times New Roman">1.1<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Purpose</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.2               Scope"><font face="Times New Roman">1.2<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Scope</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.3               Definitions, Acronyms and Abbreviations"><font         face="Times New Roman">1.3<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Definitions, Acronyms, and
        Abbreviations</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.4               References"><font face="Times New Roman">1.4<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>References</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.5               Overview"><font face="Times New Roman">1.5<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Overview</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#2.                  Responsibilities"><font         face="Times New Roman">2.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Responsibilities</font></a>
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#3.                  Product Acceptance Tasks"><font         face="Times New Roman">3.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Product Acceptance
        Tasks</font></a>
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#3.1               Product Acceptance Criteria"><font         face="Times New Roman">3.1<span style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Product
        Acceptance Criteria</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#3.2               Physical Configuration Audit"><font         face="Times New Roman">3.2<span style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Physical
        Configuration Audit</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#3.3               Functional Configuration Audit"><font         face="Times New Roman">3.3<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Functional Configuration
        Audit</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#3.4               Schedule"><font face="Times New Roman">3.4<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Schedule</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.                  Resource Requirements"><font         face="Times New Roman">4.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Resource
        Requirements</font></a>
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.1               Hardware Requirements"><font         face="Times New Roman">4.1<span style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Hardware
        Requirements</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.2               Software Requirements"><font         face="Times New Roman">4.2<span style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Software
        Requirements</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.3               Documentation requirements"><font         face="Times New Roman">4.3<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Documentation
        Requirements</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.4               Personnel Requirements"><font         face="Times New Roman">4.4<span style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Personnel
        Requirements</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.5               Test Data Requirements"><font         face="Times New Roman">4.5<span style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Test Data
        Requirements</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.6               Other Requirements"><font face="Times New Roman">4.6<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Other
        Requirements</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#5.                  Problem Resolution and Corrective Action"><font          face="Times New Roman">5.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Problem Resolution and
        Corrective Action</font></a>
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#6.                  Product Acceptance Environment"><font         face="Times New Roman">6.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Product Acceptance
        Environment</font></a>
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#7.                  Identification of Required Artifact Evaluations">
        <font face="Times New Roman">7.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Identification of Required
        Artifact Evaluations</font></a>&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#8.                  Tools, Techniques and Methodologies"><font         face="Times New Roman">8.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Tools, Techniques, and
        Methodologies</font></a>
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        <br style="break-before: page" clear="all" />
        Product Acceptance Plan
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt; LINE-HEIGHT: 12pt; TEXT-INDENT: 0in; break-after: avoid">
    </h1>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1. Introduction" name="1. Introduction">1.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Introduction</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [The introduction of the<span>&nbsp;</span><b>Product Acceptance Plan</b><span>&nbsp;</span>provides an overview of
        the entire document. It includes the purpose, scope, definitions, acronyms, abbreviations, references, and overview
        of this<span>&nbsp;</span><b>Product Acceptance Plan</b>.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.1 Purpose" name="1.1 Purpose">1.1<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Purpose</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Specify the purpose of this<span>&nbsp;</span><b>Product Acceptance Plan.</b>]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.2 Scope" name="1.2 Scope">1.2<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Scope</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A brief description of the scope of this<span>&nbsp;</span><b>Product Acceptance Plan</b>; what Project(s) it is
        associated with and anything else that is affected or influenced by this document.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.3 Definitions, Acronyms and Abbreviations" name="1.3 Definitions, Acronyms and Abbreviations">1.3<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Definitions, Acronyms, and Abbreviations</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection provides the definitions of all terms, acronyms, and abbreviations required to properly interpret
        the<span>&nbsp;</span><b>Product Acceptance Plan</b>.&nbsp; This information may be provided by reference to the
        project's Glossary.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.4 References" name="1.4 References">1.4<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>References</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection provides a complete list of all documents referenced elsewhere in the<span>&nbsp;</span><b>Product
        Acceptance Plan</b>.&nbsp; Identify each document by title, report number if applicable, date, and publishing
        organization.&nbsp; Specify the sources from which the references can be obtained. This information may be provided
        by reference to an appendix or to another document.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.5 Overview" name="1.5 Overview">1.5<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Overview</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection describes what the rest of the<span>&nbsp;</span><b>Product Acceptance
        Plan</b><span>&nbsp;</span>contains and explains how the document is organized.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="2. Responsibilities" name="2. Responsibilities">2.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Responsibilities</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Explicitly identify the responsibilities of both the customer and the development team in preparing and performing
        the product acceptance activities.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="3. Product Acceptance Tasks" name="3. Product Acceptance Tasks">3.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Product Acceptance Tasks</a>
    </h1>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="3.1 Product Acceptance Criteria" name="3.1 Product Acceptance Criteria">3.1<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Product Acceptance Criteria</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Identify the objective criteria for determining acceptability of the deliverable artifacts from this
        project.&nbsp; These criteria should be formally agreed by the customer and the development team.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="3.2 Physical Configuration Audit" name="3.2 Physical Configuration Audit">3.2<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Physical Configuration Audit</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Identify and list here the artifacts that are to be delivered to and accepted by the customer resulting from the
        work on this project.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="3.3 Functional Configuration Audit" name="3.3 Functional Configuration Audit">3.3<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Functional Configuration Audit</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [For each artifact identified in the Physical Configuration Audit, identify the evaluation methods and the level of
        detail that will be used to determine if it meets the product acceptance criteria.
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        Methods can include software execution testing, product demonstration, documentation reviews, and so on.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="3.4 Schedule" name="3.4 Schedule">3.4<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Schedule</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A schedule indicating the start and end times for each of the product acceptance tasks, including preparation and
        setup activities.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4. Resource Requirements" name="4. Resource Requirements">4.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Resource Requirements</a>
    </h1>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4.1 Hardware Requirements" name="4.1 Hardware Requirements">4.1<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Hardware Requirements</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [For example, hardware items, interfacing equipment, firmware items.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4.2 Software Requirements" name="4.2 Software Requirements">4.2<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Software Requirements</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [For example, operating systems, compilers, test drivers, test data generators.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4.3 Documentation requirements" name="4.3 Documentation requirements">4.3<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Documentation Requirements</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [For example, test documentation, technical references.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4.4 Personnel Requirements" name="4.4 Personnel Requirements">4.4<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Personnel Requirements</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [For example, development team members, customer representatives, third-party party authorities.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4.5 Test Data Requirements" name="4.5 Test Data Requirements">4.5<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Test Data Requirements</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [For example, size, type, and composition of data to support acceptance tests.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4.6 Other Requirements" name="4.6 Other Requirements">4.6<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Other Requirements</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [For example, special equipment.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="5. Problem Resolution and Corrective Action" name="5. Problem Resolution and Corrective Action">5.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Problem Resolution and Corrective Action</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This section describes the procedures for reporting and handling problems identified during the Product Acceptance
        activities.&nbsp; Usually this is addressed by enclosing the Problem Resolution Plan artifact by reference.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="6. Product Acceptance Environment" name="6. Product Acceptance Environment">6.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Product Acceptance Environment</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Describe the plans for setting up the product acceptance environment.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="7. Identification of Required Artifact Evaluations" name="7. Identification of Required Artifact Evaluations">7.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Identification of Required Artifact Evaluations</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Based on the Functional Configuration Audit description, identify each individual artifact evaluation that will be
        carried out.&nbsp; For each one, list the type of evaluation (test, review, and so on), and its objectives.
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        Note: A Test Case artifact will be prepared for each test identified here.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="8. Tools, Techniques and Methodologies" name="8. Tools, Techniques and Methodologies">8.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Tools, Techniques, and Methodologies</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A list of any specific tools, techniques, and methodologies that are to be used when performing the Product
        Acceptance activities.]
    </p>
</div></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../ProjectManagement/guidances/templates/resources/HTMLProduct_Acceptance_Plan.html" target="_blank">HTMLProduct_Acceptance_Plan.html</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
