<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xml:lang="es" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: HTML_Measurement_Plan</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="html_measurement_plan">
<meta name="uma.presentationName" content="HTML_Measurement_Plan">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_wxGZoA11Ee-qFuDYwMdo-Q"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: HTML_Measurement_Plan</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top"></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../ProjectManagement/workproducts/measurement_plan_DBFCF019.html" guid="_gyv9YAtCEe-H_o2T0nMv-g">Measurement_Plan</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><div class="Section1" style='FONT-SIZE: medium; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        &lt;Project Name&gt;
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        Measurement Plan
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 0in 0in 0pt" align="right">
        <span style="FONT-SIZE: 14pt">Version &lt;1.0&gt;</span>
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
    </p>
    <p class="MsoNormal" style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 0pt; LINE-HEIGHT: 12pt'>
    </p>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Note: The following template is provided for use with the Rational Unified Process. Text enclosed in square
        brackets and displayed in blue italics (style=InfoBlue) is included to provide guidance to the author and should be
        deleted before publishing the document. A paragraph entered following this style will automatically be set to
        normal (style=Body Text).]
    </p>
</div>
<span style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
<br style="break-before: page" clear="all" />
</span> 
<div class="Section2" style='FONT-SIZE: medium; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        Revision History
    </p>
    <table     style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none"      cellspacing="0" cellpadding="0" border="1">
        <tbody>
            <tr>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Date</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Version</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Description</b>
                    </p>
                </td>
                <td                 style="BORDER-TOP: windowtext 0.75pt solid; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; TEXT-ALIGN: center; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'                      align="center">
                        <b>Author</b>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;dd/mmm/yy&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;x.x&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;details&gt;
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &lt;name&gt;
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: windowtext 0.75pt solid; PADDING-RIGHT: 5.4pt; border-image: initial"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 0.8in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="77">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 2.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="250">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: windowtext 0.75pt solid; WIDTH: 1.6in; BORDER-BOTTOM: windowtext 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.4pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.4pt"                  valign="top" width="154">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="MsoNormal" style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 0pt; LINE-HEIGHT: 12pt'>
    </p>
    <b><span style="FONT-SIZE: 18pt; FONT-FAMILY: Arial"><br style="break-before: page" clear="all" />
    </span></b> 
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        Table of Contents
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.                  Introduction"><font face="Times New Roman">1.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Introduction</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.1               Purpose"><font face="Times New Roman">1.1<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Purpose</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.2               Scope"><font face="Times New Roman">1.2<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Scope</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.3               Definitions, Acronyms and Abbreviations"><font         face="Times New Roman">1.3<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Definitions, Acronyms and
        Abbreviations</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.4               References"><font face="Times New Roman">1.4<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>References</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#1.5               Overview"><font face="Times New Roman">1.5<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Overview</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#2.                  Management Goals and Subgoals"><font         face="Times New Roman">2.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Management Goals and
        Subgoals</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#3.                  Metrics"><font face="Times New Roman">3.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Metrics</font></a>&nbsp;
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <span lang="EN-GB"><a style="TEXT-DECORATION: underline; COLOR: blue" href="#3.1               Template for a Metric:"><font         face="Times New Roman">3.1</font></a></span><a style="TEXT-DECORATION: underline; COLOR: blue" href="#3.1               Template for a Metric:"><font         face="Times New Roman"><span style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span><span         lang="EN-GB">Template for a metric:</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.                  Primitive Metrics"><font         face="Times New Roman">4.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Primitive Metrics</font></a>
    </p>
    <p class="MsoToc2"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0.5in 0pt 0.3in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#4.1               Template for a Primitive Metric:"><font         face="Times New Roman">4.1<span style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Template
        for a Primitive Metric:</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="MsoToc1"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 12pt 0.5in 3pt 0in; LINE-HEIGHT: 12pt'>
        <a style="TEXT-DECORATION: underline; COLOR: blue" href="#5.                  Annexes"><font face="Times New Roman">5.<span         style="FONT-SIZE: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;</span></span>Annexes</font></a>&nbsp;
    </p>
    <p class="MsoTitle"     style="FONT-SIZE: 18pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; TEXT-ALIGN: center; MARGIN: 0in 0in 0pt">
        <br style="break-before: page" clear="all" />
        Measurement Plan
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1. Introduction" name="1. Introduction">1.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Introduction</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [The introduction of the<span>&nbsp;</span><b>Measurement Plan</b><span>&nbsp;</span>should provide an overview of
        the entire document. It should include the purpose, scope, definitions, acronyms, abbreviations, references, and
        overview of this<span>&nbsp;</span><b>Measurement Plan</b>.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.1 Purpose" name="1.1 Purpose">1.1<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Purpose</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Specify the purpose of this<span>&nbsp;</span><b>Measurement Plan.</b>]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.2 Scope" name="1.2 Scope">1.2<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Scope</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [A brief description of the scope of this<span>&nbsp;</span><b>Measurement Plan</b>; what Project(s) it is
        associated with, and anything else that is affected or influenced by this document.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.3 Definitions, Acronyms and Abbreviations" name="1.3 Definitions, Acronyms and Abbreviations">1.3<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Definitions, Acronyms and Abbreviations</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection should provide the definitions of all terms, acronyms, and abbreviations required to properly
        interpret the<span>&nbsp;</span><b>Measurement Plan</b>.&nbsp; This information may be provided by reference to the
        project Glossary.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.4 References" name="1.4 References">1.4<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>References</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection should provide a complete list of all documents referenced elsewhere in
        the<span>&nbsp;</span><b>Measurement Plan</b>.&nbsp; Each document should be identified by title, report number (if
        applicable), date, and publishing organization.&nbsp; Specify the sources from which the references can be
        obtained. This information may be provided by reference to an appendix or to another document.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="1.5 Overview" name="1.5 Overview">1.5<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Overview</a>
    </h2>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [This subsection should describe what the rest of the<span>&nbsp;</span><b>Measurement
        Plan</b><span>&nbsp;</span>contains and explain how the document is organized.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="2. Management Goals and Subgoals" name="2. Management Goals and Subgoals">2.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Management Goals and Subgoals</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [State what the goals of the measurement program are relative to the project in terms of achievement, improvement,
        and quality.]
    </p>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="3. Metrics" name="3. Metrics">3.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Metrics</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Enumerate the metrics that are to be synthesized at regular intervals on the project to support the goals.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="3.1 Template for a Metric:" name="3.1 Template for a Metric:"><span lang="EN-GB">3.1<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Template for a Metric:</span></a>
    </h2>
    <table     style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; MARGIN-LEFT: 41.25pt; BORDER-LEFT: medium none"      cellspacing="0" cellpadding="0" border="1">
        <tbody>
            <tr>
                <td                 style="BORDER-TOP: black 1.5pt solid; BORDER-RIGHT: black 0.75pt solid; WIDTH: 93pt; BORDER-BOTTOM: black 1.5pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: black 1.5pt solid; PADDING-RIGHT: 5.25pt; border-image: initial"                  valign="top" width="124">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Name
                    </p>
                </td>
                <td                 style="BORDER-TOP: black 1.5pt solid; BORDER-RIGHT: black 1.5pt solid; WIDTH: 344.25pt; BORDER-BOTTOM: black 1.5pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.25pt; border-image: initial"                  valign="top" width="459">
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        [Name of the metric and any known synonyms.]
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 0.75pt solid; WIDTH: 93pt; BORDER-BOTTOM: black 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: black 1.5pt solid; PADDING-RIGHT: 5.25pt"                  valign="top" width="124">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Definition
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 1.5pt solid; WIDTH: 344.25pt; BORDER-BOTTOM: black 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.25pt"                  valign="top" width="459">
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        [The attributes of the entities that are measured using this metric, how the metric is calculated,
                        and from which primitive metrics it is calculated.]
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 0.75pt solid; WIDTH: 93pt; BORDER-BOTTOM: black 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: black 1.5pt solid; PADDING-RIGHT: 5.25pt"                  valign="top" width="124">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Goals
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 1.5pt solid; WIDTH: 344.25pt; BORDER-BOTTOM: black 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.25pt"                  valign="top" width="459">
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        [List of goals and questions related to this metric. Also some explanation as to why the metric is
                        being collected.]
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 0.75pt solid; WIDTH: 93pt; BORDER-BOTTOM: black 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: black 1.5pt solid; PADDING-RIGHT: 5.25pt"                  valign="top" width="124">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Analysis Procedure
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 1.5pt solid; WIDTH: 344.25pt; BORDER-BOTTOM: black 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.25pt"                  valign="top" width="459">
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        [How the metric is intended to be used.
                    </p>
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Preconditions for the interpretation of the metric; for example, valid range of other metrics.
                    </p>
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Target values or trends.
                    </p>
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &nbsp;Models of analysis techniques and tools to be used.
                    </p>
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Implicit assumptions; for example, of&nbsp; the environment or models.
                    </p>
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        &nbsp;Calibration procedures.
                    </p>
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Storage.]
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 0.75pt solid; WIDTH: 93pt; BORDER-BOTTOM: black 1.5pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: black 1.5pt solid; PADDING-RIGHT: 5.25pt"                  valign="top" width="124">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Responsibilities
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 1.5pt solid; WIDTH: 344.25pt; BORDER-BOTTOM: black 1.5pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.25pt"                  valign="top" width="459">
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        [Who will collect and aggregate measurement data, prepare the reports, and analyze the data.]
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <h1     style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4. Primitive Metrics" name="4. Primitive Metrics">4.<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Primitive Metrics</a>
    </h1>
    <p class="InfoBlue"     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt 0.5in; LINE-HEIGHT: 12pt'>
        [Enumerate the primitive metrics that are collected, automatically or manually, to compute the metrics.]
    </p>
    <h2     style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; MARGIN: 6pt 0in 3pt 0.5in; LINE-HEIGHT: 12pt; TEXT-INDENT: -0.5in; break-after: avoid">
        <a id="4.1 Template for a Primitive Metric:" name="4.1 Template for a Primitive Metric:">4.1<span         style='FONT: 7pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>&nbsp;</span></span>Template for a Primitive Metric:</a>
    </h2>
    <table     style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; MARGIN-LEFT: 41.25pt; BORDER-LEFT: medium none"      cellspacing="0" cellpadding="0" border="1">
        <tbody>
            <tr>
                <td                 style="BORDER-TOP: black 1.5pt solid; BORDER-RIGHT: black 0.75pt solid; WIDTH: 99.65pt; BORDER-BOTTOM: black 1.5pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: black 1.5pt solid; PADDING-RIGHT: 5.25pt; border-image: initial"                  valign="top" width="133">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Name
                    </p>
                </td>
                <td                 style="BORDER-TOP: black 1.5pt solid; BORDER-RIGHT: black 1.5pt solid; WIDTH: 337.6pt; BORDER-BOTTOM: black 1.5pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.25pt; border-image: initial"                  valign="top" width="450">
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        [Name of the primitive metric.]
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 0.75pt solid; WIDTH: 99.65pt; BORDER-BOTTOM: black 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: black 1.5pt solid; PADDING-RIGHT: 5.25pt"                  valign="top" width="133">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Definition
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 1.5pt solid; WIDTH: 337.6pt; BORDER-BOTTOM: black 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.25pt"                  valign="top" width="450">
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        [Unambiguous description of the metric in terms of the project’s environment.]
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 0.75pt solid; WIDTH: 99.65pt; BORDER-BOTTOM: black 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: black 1.5pt solid; PADDING-RIGHT: 5.25pt"                  valign="top" width="133">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Collection procedure
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 1.5pt solid; WIDTH: 337.6pt; BORDER-BOTTOM: black 0.75pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.25pt"                  valign="top" width="450">
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        [Description of the collection procedure.
                    </p>
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Data collection tool and form to be used.
                    </p>
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Points in the lifecycle when data are collected.
                    </p>
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Verification procedure to be used.
                    </p>
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Where will the data be stored, format, precision?]
                    </p>
                </td>
            </tr>
            <tr>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 0.75pt solid; WIDTH: 99.65pt; BORDER-BOTTOM: black 1.5pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: black 1.5pt solid; PADDING-RIGHT: 5.25pt"                  valign="top" width="133">
                    <p class="Tabletext"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        Responsibilities
                    </p>
                </td>
                <td                 style="BORDER-TOP: medium none; BORDER-RIGHT: black 1.5pt solid; WIDTH: 337.6pt; BORDER-BOTTOM: black 1.5pt solid; PADDING-BOTTOM: 0in; PADDING-TOP: 0in; PADDING-LEFT: 5.25pt; BORDER-LEFT: medium none; PADDING-RIGHT: 5.25pt"                  valign="top" width="450">
                    <p class="InfoBlue"                     style='FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman"; COLOR: blue; FONT-STYLE: italic; MARGIN: 0in 0in 6pt; LINE-HEIGHT: 12pt'>
                        [Who is responsible for collecting and verifying the data?].
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../ProjectManagement/guidances/templates/resources/HTMLMeasurement_Plan.html" target="_blank">HTMLMeasurement_Plan.html</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
