<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xml:lang="es" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Others</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="others">
<meta name="uma.presentationName" content="Others">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_eb_C0AwdEe-ciZ4bjR6GRQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Others</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">Rational Unified Process: Templates</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../ProjectManagement/workproducts/business_case_5B23D182.html" guid="_MHsdsAYrEe-QffN1Taqq5Q">Business Case</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/development_organization_assesment_F8B466FC.html" guid="_OYoP0AtgEe-H_o2T0nMv-g">Development_Organization_Assesment</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/iteration_assessment_6D021373.html" guid="_YJR8cAteEe-H_o2T0nMv-g">Iteration_Assessment</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/iteration_plan_6CFB48C4.html" guid="_bK2T0AYrEe-QffN1Taqq5Q">Iteration Plan</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/measurement_plan_DBFCF019.html" guid="_gyv9YAtCEe-H_o2T0nMv-g">Measurement_Plan</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/problem_resolution_plan_9E3A5DFC.html" guid="_C0WlEAtEEe-H_o2T0nMv-g">Problem_Resolution_Plan</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/product_acceptance_plan_715D9C9A.html" guid="_vm4DkAtDEe-H_o2T0nMv-g">Product_Acceptance_Plan</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/quality_assurance_plan_98D625C7.html" guid="_4XTx4AtYEe-H_o2T0nMv-g">Quality_Assurance_Plan</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/risk_management_plan_EF36C2DA.html" guid="_BnovwAtDEe-H_o2T0nMv-g">Risk_Management_Plan</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/risk_list_9879812E.html" guid="_JNIKAAYrEe-QffN1Taqq5Q">Risk List</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/software_arquitecture_document_B5A847C7.html" guid="_2tWNoAtcEe-H_o2T0nMv-g">Software_Arquitecture_Document</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/software_development_plan_B82C47D0.html" guid="_PIofIAYrEe-QffN1Taqq5Q">Software Development Plan</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/status_assessment_803C2A35.html" guid="_5yDNYAtfEe-H_o2T0nMv-g">Status_Assessment</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/test_evaluation_summary_161A95D8.html" guid="_BoMDMAtgEe-H_o2T0nMv-g">Test_Evaluation_Summary</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/test_plan_9B12202C.html" guid="_FWOtIAteEe-H_o2T0nMv-g">Test_Plan</a>
</li>
<li>
<a href="./../../../ProjectManagement/workproducts/vision_7A95AF30.html" guid="_BizioAYrEe-QffN1Taqq5Q">Vision</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p class="node" style='FONT-SIZE: medium; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; MARGIN-LEFT: 0px; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; BACKGROUND-COLOR: rgb(255,255,255); TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'  align="left">
    There are a number of ready-to-use templates that present documents and artifacts. Rational Unified Process (RUP)
    provides templates for use with<span>&nbsp;</span><a style="COLOR: rgb(0,51,153)" href="https://www.tesestec.com.br/pasteurjr/rup/wordtmpl/index.htm"><u><font size="4" face="Times New Roman">Microsoft
    Word</font></u></a>,<span>&nbsp;</span><a style="COLOR: rgb(0,51,153)" href="https://www.tesestec.com.br/pasteurjr/rup/wordtmpl/fm_indx.htm"><u><font size="4" face="Times New Roman">Adobe
    FrameMaker</font></u></a>,<span>&nbsp;</span><a style="COLOR: rgb(0,51,153)" href="https://www.tesestec.com.br/pasteurjr/rup/webtmpl/index.htm"><u><font size="4"     face="Times New Roman">HTML</font></u></a>, and<span>&nbsp;</span><a style="COLOR: rgb(0,51,153)" href="https://www.tesestec.com.br/pasteurjr/rup/prjtmpl/index.htm"><u><font size="4" face="Times New Roman">Microsoft
    Project</font></u></a>.&nbsp;
</p>
<p class="node" style='FONT-SIZE: medium; FONT-FAMILY: "Times New Roman"; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(0,0,0); FONT-STYLE: normal; MARGIN-LEFT: 0px; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; BACKGROUND-COLOR: rgb(255,255,255); TEXT-INDENT: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'  align="left">
    RUP also provides guidance on how to use standard templates provided with Rational Rose and Rational SoDA. The
    Microsoft Word templates can be used with Rational RequisitePro.
</p></td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
